@model Doctor 

<!-- Doctor detail start -->

<div class="doctor-detail distance">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="doctor-detail-content">

                    <div class="doctor-detail-info">
                        <h2 class="doctor-detail-name">@Model.Name</h2>
                        <p class="doctor-detail-position">@Model.Position</p>
                    </div>

                    <div class="doctor-detail-info">
                        <h3>Department</h3>
                        <ul>
                            <li><a href="">@Model.Department.Name</a></li>
                        </ul>
                    </div>

                    <div class="doctor-detail-info">
                        <h3>Associate Professor</h3>
                        <ul>
                            <li><span>Degree: </span>@Model.DoctorBios.Degree</li>
                            <li><span>Experience: </span>@Model.DoctorBios.Experience</li>
                            <li><span>Faculty: </span>@Model.DoctorBios.Faculty</li>
                        </ul>
                    </div>

                    <div class="doctor-detail-info">
                        <h3>Contact information</h3>
                        <p><span>mail me : </span>@Model.DoctorBios.Mail</p>
                        <p><span>Call number : </span>@Model.DoctorBios.CallNumber</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="doctor-detail-img">
                    <img src="~/assets/images/doctor/@Model.ImagePath" alt="doctor">
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-lg-12">

                <h2 class="biographical-summary">Biographical summary</h2>

                <p>@Model.DoctorBios.Summary</p>

            </div>

        </div>
    </div>
</div>

<!-- Doctor detail end -->

