@model HomeVM

<footer class="footer">

    <div class="footer-content">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>@Model.Settings["Name"]</h3>
                        <p>
                            @Model.Settings["Adress"]
                        </p>
                        <strong>Phone:</strong> @Model.Settings["Tel"]<br>
                        <strong>Email:</strong> @Model.Settings["Email"]<br>
                        <div>
                            Opening Hours : @Model.Settings["WorkingHours"]
                        </div>

                        <div class="social-links d-flex mt-3">
                            <a href="@Model.Settings["Twitter"]" class="social-items"><i class="fa fa-brands fa-twitter"></i></a>
                            <a href="@Model.Settings["Facebook"]" class="social-items"><i class="fa fa-brands fa-facebook"></i></a>
                            <a href="@Model.Settings["Instagram"]" class="social-items"><i class="fa fa-brands fa-instagram"></i></a>
                            <a href="@Model.Settings["Linkedin"]" class="social-items"><i class="fa fa-brands fa-linkedin"></i></a>
                        </div>

                    </div>
                </div><!-- End footer info column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./about.html">About us</a></li>
                        <li><a href="./departments.html">Services</a></li>
                        <li><a href="./gallery.html">Our Gallery</a></li>
                        <li><a href="./volunteer.html">Volunteer</a></li>
                        <li><a href="./doctor.html">Find Doctor</a></li>
                        <li><a href="./departments.html">Departments</a></li>
                    </ul>
                </div><!-- End footer links column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><a href="./department-detail.html">Ophthalmology</a></li>
                        <li><a href="./department-detail.html">Neurology</a></li>
                        <li><a href="./department-detail.html">Radiology</a></li>
                        <li><a href="./department-detail.html">Orthopedic-Surgery</a></li>
                        <li><a href="./department-detail.html">Dermatology</a></li>
                        <li><a href="./department-detail.html">Dentistry</a></li>
                        <li><a href="./department-detail.html">Anesthesiology</a></li>
                        <li><a href="./department-detail.html">Haematology</a></li>
                        <li><a href="./department-detail.html">Rheumatology</a></li>
                    </ul>
                </div><!-- End footer links column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Find out more</h4>
                    <ul>
                        <li><a href="./doctor.html">Find Doctor</a></li>
                        <li><a href="./our-products.html">Our Products</a></li>
                        <li><a href="./blog.html">Blogs</a></li>
                        <li><a href="./volunteer.html">Volunteer</a></li>
                        <li><a href="./donate.html">Donate</a></li>
                    </ul>
                </div><!-- End footer links column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a href="./contact.html">Contact Us</a></li>
                        <li><a href="./login.html">Login</a></li>
                        <li><a href="./register.html">Register</a></li>
                        <li><a href="./my-account.html">My Account</a></li>

                    </ul>
                </div><!-- End footer links column-->

            </div>
        </div>
    </div>

    <div class="footer-legal text-center position-relative">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>@Model.Settings["Name"]</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by Orkhan
            </div>

        </div>
    </div>

</footer>
