@model HomeVM

<footer class="footer">

    <div class="footer-content">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>@Model.Settings["Name"]</h3>
                        <p>
                            @Model.Settings["Adress"]
                        </p>
                        <strong>Phone:</strong> @Model.Settings["Tel"]<br>
                        <strong>Email:</strong> @Model.Settings["Email"]<br>
                        <div>
                            Opening Hours : @Model.Settings["WorkingHours"]
                        </div>

                        <div class="social-links d-flex mt-3">
                            <a href="@Model.Settings["Twitter"]" class="social-items"><i class="fa fa-brands fa-twitter"></i></a>
                            <a href="@Model.Settings["Facebook"]" class="social-items"><i class="fa fa-brands fa-facebook"></i></a>
                            <a href="@Model.Settings["Instagram"]" class="social-items"><i class="fa fa-brands fa-instagram"></i></a>
                            <a href="@Model.Settings["Linkedin"]" class="social-items"><i class="fa fa-brands fa-linkedin"></i></a>
                        </div>

                    </div>
                </div><!-- End footer info column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a asp-controller="home" asp-action="index">Home</a></li>
                        <li><a asp-controller="about" asp-action="index">About us</a></li>
                        <li><a asp-controller="department" asp-action="index">Services</a></li>
                        <li><a asp-controller="gallery" asp-action="index">Our Gallery</a></li>
                        <li><a asp-controller="volunteer" asp-action="index">Volunteer</a></li>
                        <li><a asp-controller="donate" asp-action="donaterequest">Donate</a></li>
                        <li><a asp-controller="about" asp-action="faq">Faq</a></li>
                    </ul>
                </div><!-- End footer links column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        @foreach (var item in Model.Departments)
                        {
                            <li><a asp-controller="department" asp-action="detail" asp-route-id="@item.Id">@item.Name</a></li>
                        }
                    </ul>
                </div><!-- End footer links column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Find out more</h4>
                    <ul>
                        <li><a asp-controller="doctor" asp-action="index">Find Doctor</a></li>
                        <li><a asp-controller="product" asp-action="index">Our Products</a></li>
                        <li><a asp-controller="blog" asp-action="index">Blogs</a></li>
                        <li><a asp-controller="volunteer" asp-action="index">Volunteer</a></li>
                        <li><a asp-controller="donate" asp-action="donaterequest">Donate</a></li>
                    </ul>
                </div><!-- End footer links column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a asp-controller="contact" asp-action="contactrequest">Contact Us</a></li>
                        <li><a asp-controller="account" asp-action="login">Login</a></li>
                        <li><a asp-controller="account" asp-action="register">Register</a></li>
                        <li><a asp-controller="account" asp-action="myaccount">My Account</a></li>

                    </ul>
                </div><!-- End footer links column-->

            </div>
        </div>
    </div>

    <div class="footer-legal text-center position-relative">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>@Model.Settings["Name"]</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by Orkhan
            </div>

        </div>
    </div>

</footer>
