@model List<Drug>

@{
    ViewData["Title"] = "Index";
}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a id="deleteLink" class="btn btn-danger" href="#">Yes</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Drug table</h4>
                    <p class="card-description">
                        <a class="btn btn-light" asp-controller="drug" asp-action="create">Add drug</a>
                    </p>
                    <div class="table-responsive pt-3">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Short Description
                                    </th>
                                    <th>
                                        Long Description
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        In stock
                                    </th>
                                    <th colspan="3">
                                        Settings
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Price
                                        </td>

                                        <td>
                                            @(item.ShortDescription?.Length > 30 ? item.ShortDescription.Substring(0, 30) + "..." : item.ShortDescription)
                                        </td>

                                        <td>
                                            @(item.LongDescription?.Length > 30 ? item.LongDescription.Substring(0, 30) + "..." : item.LongDescription)
                                        </td>

                                        <td>
                                            <img width="200" src="~/assets/images/products/@item.DrugImages.FirstOrDefault(d => d.IsMain).ImagePath" />
                                        </td>

                                        <td>
                                            @item.InStock
                                        </td>

                                        <td>
                                            <a asp-controller="drug" asp-action="delete" asp-route-id="@item.Id" class="btn btn-outline-danger delete-button" data-id="@item.Id" data-toggle="modal" data-target="#deleteModal">
                                                Delete
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-controller="drug" asp-action="edit" asp-route-id="@item.Id" class="btn btn-outline-danger">
                                                Edit
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-controller="drug" asp-action="detail" asp-route-id="@item.Id" class="btn btn-outline-danger">
                                                Detail
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.delete-button').click(function () {
                var itemId = $(this).data('id');
                var deleteUrl = '/LuminaHospitalArea/Drug/Delete/' + itemId;

                $('#deleteLink').attr('href', deleteUrl);

                $('#deleteModal').modal('show');
            });
        });
    </script>
}
